table{
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-top: 2px solid #67cb71;
	border-bottom: 2px solid #67cb71;
	border-collapse: collapse;
	width:300px;
	height:485px;
	text-align:center;
}
tr:nth-child(even) td{
	background-color:#f7f7f7;
}
tr{
	height:20px;
}
.main{
	background:white;
	color:#67cb71;
	height:87px;
	font-weight:bold;
	font-size:24px;
}
#price{
	background-color:#67cb71;
	color:white;
	height:60px;
	font-weight:bold;
	font-size:34px;
}
.option{
	background-color:white;
	color:grey;
	width:44px;
}
.purchase{
	height:113px;
}
.purchase button{

	background-color: white;
    color: #67cb71;
    border: 1px solid #67cb71;
	border-radius: 3px;
	height:40px;
	width:102px;
	
}
