.main, #world, #wooden-ship, #water, #clouds {
	position: absolute;
}

.main {
	background: #80cdc6;
	height: 447px;
	width: 560px;

}

#world {
	width:560px;
	bottom:5px;
	z-index:2;
}

#clouds {
	width:400px;
	top:10px;
	right:0px;
	z-index:1;
}

#water {
	width:560px;
	bottom:-5px;
	z-index:4;
}

#wooden-ship {
	width:100px;
	left:20px;
	bottom:35px;
	z-index:3;
}

