#square {
	top: 0;
	bottom:0;
	right:0;
	left:0;
	position:absolute;
	margin:auto;
	width: 200px;
	height: 200px;
	background: red;
}
#triangle {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;

	
}
#triangle1, #triangle2{
	display: none;
	position:absolute;
}
#triangle1{	
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid blue;
	left:95%;
	bottom:95%;
	
}
#triangle2{	
	width: 0;
	height: 0;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid blue;
	left:95%;
	bottom:95%;
}

