.main{
	background:#a3cee9;
	color:white;
	font-weight:bold;
	height:46px;
	text-align:center;
}
.value{
	background:#d3e7f4;
	color:black;
	width:100px;
	text-align:center;
	height:44px;
}
.company{
	background:#a3cee9;
	color:white;
	padding-left:18px;
	width:173px;
}
#main_company{
	padding-left:18px;
	text-align:left;
}