* {
	margin: 0;
	padding: 0;

}

body {
	background: #719ebb;
}

.fullwrap {
    position: relative;
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
    height:1080px;
    bottom: 13px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.header{
    position: absolute;
	max-width: 900px;
	width: 100%;
}

.logo_blue {
    position: absolute;
	max-width: 67px;
	top: 15px;
	left: 10px;
}

.higher_learning_commission_logo_85 {
    position: absolute;
	max-width: 85px;
	right: 20px;
	top: 13px;
}

.content {
    position: absolute;
	max-width: 500px;
	padding-right: 10px;
	padding-left: 90px;
    top: 12px;
}

.content h1 {
	font-size: 16px;
    line-height: 25px;
    color: #1a2853;
	font-weight:bold;
}

.content h1 a {
	color: #1a2853;
    text-decoration: none;
}

.content h2 {
    font-size: 10px;
    line-height: 30px;
    color: #7e8285;

    letter-spacing: 5px;
}

.wrap {
    position: relative;
    top: 121px;
    overflow: visible;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.wrap p, h1, h4, ul, .quotes  p, .footer p {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, sans-serif;
}

.highlight {
	background-color: #DFE6EC;
    padding: 10px 30px;
    margin: 13px 0 24px;
}

.highlight h1 {
    font-size: 20px;
    padding-top: 6px;
    font-weight: bold;
    line-height: 26px;
    font-family: Verdana, sans-serif;
    color: #1a2853;
    margin: 0px 0px 9px;
}

.highlight ul {
    font-size: 13px;
    line-height: 24px;
    font-stretch: normal;
    color: #1a2853;
    margin: 0px 0px 12px;
    padding: 0px 0px 0px 20px;
}

.margin {
	margin: 0 30px;
}

.margin h4 {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #1a2853;
    margin: 0px 0px 4px;
    padding: 0px;
}

.margin ul {
    font-size: 13px;
    line-height: 24px;
    color: #1a2853;
    margin: 0px 0px 12px;
    padding: 0px 0px 0px 20px;
}

.companies {
	overflow: hidden;
    clear: right;
}

.companies h4 {
    margin-bottom: 15px;
}

.desktop {
    width: 100%;
    width: 811px;
	float: left;
 	clear: right;
}

.companies .mobile {
	display: none;
}

.quotes  {
	background-color: #DFE6EC;
	overflow: hidden;
    padding: 20px 30px;
    margin: 20px 0 0 0;
    height: 169px;
}

.quotes  p {
	float: left; */
    line-height: 24px;
    color: #1a2853;
    margin: 0px 0px 12px 0px;
    padding: 0px;
    font-weight: bold;
}
.left_quotes{
	float: left;
    width: 50%;
}
.right_quotes{
	width: 50%;
    float: right;
}
#noborder1{
	font-weight:normal;
}
#noborder2{
	font-weight:normal;
}
.quotes  p+p {
    margin-left: 4%; 
}

.bottom {
    position: relative;
    background: url(https://mscs.mum.edu/images/bottom.jpg) no-repeat;
    margin: 0px auto;
    margin-left: -15px;
    height: 25px;
    max-width: 930px;
    top: 108px;
}

.footer {
    position: relative;
    top: 108px;
}

.footer p {
    font-size: 11px;
    line-height: 18px;
    text-align: center;
}

p.copyright {
    text-transform: uppercase; 
}

p.sitemap {
    padding: 6px 0px 20px;
}

.footer a {
    color: #DEE5EB;
    text-decoration: none;
}

.learn_more {
    float: right;
    width: 300px;
    margin: 20px 30px 30px 30px;
    box-shadow: 0px 4px 20px 5px #C1BBBB;
    border: 5px solid #DFE6EC;
    background-color: #fff;
}

.learn_more img {
    vertical-align:bottom;
    margin: -5px 0 0 -5px;
}

.learn_more .red {
    background-color: #CD1920;
    margin: 0 -5px;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid #fff;
}

.red p, h4 {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.red p {
    font-size: 16px;
    margin-bottom: 6px;
}

.red h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 3px;
}

.form {
    margin: 12px auto;
    padding: 0;
    width: 290px;
    height: 252px;
    float: left;
}
.form p {
	color: #C03;
    text-align: left;
    margin: 0 0 6px;
    padding-left: 16px;
}
.form iframe {
	border:none;
    padding-left: 8px;
    width: 290px;
    height: 220px;
}

.learn_more .form p {
    display: block;
    padding-left: 8px;
    margin-top: 6px;
}




.mybr {
    display: block;
}

.textBold {
    font-weight: bold;
}